<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Reclamation
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/Reclamation_Back/Add_Reclamation/1">
                                <i class="metismenu-icon"></i> Add Reclamation
                            </a>
                        </li>
                        <li>
                            <a href="/Reclamation_Back/Reclamations">
                                <i class="metismenu-icon"></i> Reclamations
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Director
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/Director/Add_Director/1">
                                <i class="metismenu-icon"></i> Add Director
                            </a>
                        </li>
                        <li>
                            <a href="/Director/Directors">
                                <i class="metismenu-icon"></i> Directors
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Daycare
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/Daycare_Back/Add_Daycare">
                                <i class="metismenu-icon"></i> Add Daycare
                            </a>
                        </li>
                        <li>
                            <a href="/Daycare_Back/Daycares">
                                <i class="metismenu-icon"></i> Daycares
                            </a>
                        </li>
                        <li>
                            <a href="/Daycare_Back/Daycares_Statistics">
                                <i class="metismenu-icon"></i> Statistics
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>