@model PIkindergarten.Models.doctor.Doctor

@{
    ViewBag.Title = "UpdateDoctorAsync";
}

<h2>Update a Doctor <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Lastname"></label>
        <input class="form-control" asp-for="Lastname" />
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    <h2>Reservation</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Location</th>
                <th>End Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.id</td>
                <td>@Model.Name</td>
                <td>@Model.Lastname</td>
                <td>@Model.Address</td>
            </tr>
        </tbody>
    </table>
}